@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap");

body {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;

  background: url("./assets/bg.gif") center no-repeat;
  background-size: 45%;
  background-color: #0a0806;
  background-attachment: fixed;
  color: white; /* 텍스트 색상을 흰색으로 지정 */
  font-family: "Hahmlet", serif;
}

/* ::before 가상 요소를 사용하여 검정 반투명 배경 추가 */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


